<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hanu Airline Services</title>
</head>
<body>
  <h1>Welcome to hanuairline backend</h1>
  <p> To view the apis list please click <a href="http://hanuairline4c.azurewebsites.net/swagger-ui/index.html?configUrl=/api-docs/swagger-config">HERE</a></p>
  <p> Do not try to use the APIs directly from this swagger! </p>
  <p> Please go to the admin website: <a href="https://hanu-aircraft-admin.web.app/"> admin web </a></p>
  <p> Or go to the end user website: <a href="https://hanu-airline-app.web.app/"> user web </a></p>
</body>
</html>